#form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.label {
    font-family: 'Open Sans', monospace;
    color: #e6e6e6;

}

.input {
    font-family: 'Open Sans', monospace;
	background-color:#3f3f3f;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	color:#e6e6e6;
	font-family: 'Open Sans', monospace;
	font-size:14px;
	padding:4px 8px;
	text-decoration:none;
}