body {
	background-image: url(images/bg.png);
}

#title {
    font-family: 'Comfortaa', monospace;
    text-align: center;
    font-size: 50;
	color: #e6e6e6;
}

#subtitle {
    font-family: 'Comfortaa', monospace;
    text-align: center;
    font-size: 30;
}

h3 {
    font-family: 'Comfortaa', monospace;
    text-align: center;
    font-size: 25;
    color: #e6e6e6;
}

.div-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modeButton {
	transition-duration: 0.6s;
    font-family: 'Open Sans', monospace;
	/* background-color:#3f3f3f; */
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border: 1px solid gray;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	background-color: transparent;
}

.modeButton:hover {
	transition-duration: 0.6s;
	background-color: #e6e6e6;
	color: #1f1f1f;
	border: 1px solid white;
}

.modeButton-disabled {
    font-family: 'Open Sans', monospace;
	/* background-color:#3f3f3f; */
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border: 1px solid gray;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    opacity: 0.6;
    cursor: not-allowed;
	background-color: transparent;
}

h4 {
	font-family: 'Comfortaa', monospace;
    text-align: center;
    font-size: 18;
    color: #d6d6d6;
}

p {
	font-family: 'Open Sans', monospace;
    text-align: center;
    font-size: 12;
    color: #d6d6d6;
}

#credits {
	transition-duration: 0.6s;
    font-family: 'Open Sans', monospace;
	/* background-color:#3f3f3f; */
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border: 1px solid gray;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:16px 31px;
	text-decoration:none;
	background-color: transparent;
}

#credits:hover {
	transition-duration: 0.6s;
	background-color: #e6e6e6;
	color: #1f1f1f;
	border: 1px solid white;
}